<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Youtube Downloader</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div>
      <h2>Youtube Video Downloader</h2>
      <input
        type="text"
        name=""
        id=""
        placeholder="Paste your video link here"
      />
    </div>
    <div>
      <p>
        As the third most popular website worldwide, YouTube offers an
        outstanding user experience. Nevertheless, it lacks a native video
        download functionality. This is where ssyoutube comes to your rescue!
      </p>
    </div>
    <footer>© 2023 YouTube Downloader, made with by Sydney Idundun</footer>
  </body>
</html>
