<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Youtube Downloader</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/styles.css" />
  </head>
  <body>
    <div class="hero-section">
      <h2>Youtube Video Downloader</h2>
      <input
        autocomplete="off"
        type="text"
        name=""
        id="search"
        placeholder="Paste your video link here"
      />
      <input id="search-button" type="button" value="Download" />
    </div>
    <div class="mid-section">
      <h1>Welcome to our YouTube Video Downloader!</h1>
      <p>
        Download your favorite YouTube videos with ease. Our user-friendly
        website provides a simple and efficient way to save videos from YouTube
        to your device. Whether it's a music video, tutorial, or entertainment
        content, our YouTube Video Downloader has got you covered.
      </p>
      <p>
        With our downloader, you can save videos in various formats and
        resolutions. Choose the format that suits your needs, including MP4,
        WebM, or even audio-only options like MP3. Want the highest quality? No
        problem! Download videos in HD or even 4K resolution for a stunning
        viewing experience.
      </p>
      <div class="info-section">
        <h2>How to use?</h2>
        <p>
          Using our YouTube Video Downloader is a breeze. Just follow these
          simple steps:
        </p>
        <ol>
          <li>Copy the URL of the YouTube video you wish to download.</li>
          <li>Paste the URL into the designated field on our website.</li>
          <li>Select the desired format and resolution.</li>
          <li>
            Click the "Download" button, and voila! Your video will start
            downloading.
          </li>
        </ol>
      </div>

      <p>
        We value your privacy and ensure that all downloads are processed
        securely. Rest assured that your personal information and downloaded
        videos are kept private and will not be shared with any third parties.
      </p>
    </div>
    <footer>© 2023 YouTube Downloader, made with by Sydney Idundun</footer>
  </body>
</html>
